# Simple Terraform Azure Pipeline
# Uses Azure service connection for authentication

trigger:
- main1

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureCLI@2
  displayName: 'Install Terraform'
  inputs:
    azureSubscription: 'azure-terraform-connection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      # Install Terraform
      wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
      echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
      sudo apt update && sudo apt install terraform
      terraform --version

- task: AzureCLI@2
  displayName: 'Terraform Init'
  inputs:
    azureSubscription: 'azure-terraform-connection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    inlineScript: |
      # Set subscription from service connection
      export ARM_SUBSCRIPTION_ID=$(az account show --query id --output tsv)
      terraform init

- task: AzureCLI@2
  displayName: 'Terraform Plan'
  inputs:
    azureSubscription: 'azure-terraform-connection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    inlineScript: |
      # Set subscription from service connection
      export ARM_SUBSCRIPTION_ID=$(az account show --query id --output tsv)
      terraform plan -var-file="env/dev.tfvars"

- task: AzureCLI@2
  displayName: 'Terraform Apply'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main1'))
  inputs:
    azureSubscription: 'azure-terraform-connection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    inlineScript: |
      # Set subscription from service connection
      export ARM_SUBSCRIPTION_ID=$(az account show --query id --output tsv)
      terraform apply -auto-approve -var-file="env/dev.tfvars"
