# Simple Terraform Azure Pipeline
# Uses Azure service connection for authentication

trigger:
- main1

pool:
  vmImage: ubuntu-latest

variables:
- group: terraform-vars  # Create this variable group in Azure DevOps Library

steps:
- task: TerraformInstaller@0
  displayName: 'Install Terraform'
  inputs:
    terraformVersion: 'latest'

- task: TerraformTaskV4@4
  displayName: 'Terraform Init'
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'azure-terraform-connection'  # Your service connection name

- task: TerraformTaskV4@4
  displayName: 'Terraform Plan'
  inputs:
    provider: 'azurerm'
    command: 'plan'
    environmentServiceNameAzureRM: 'azure-terraform-connection'

- task: TerraformTaskV4@4
  displayName: 'Terraform Apply'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main1'))
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: 'azure-terraform-connection'
    commandOptions: '-auto-approve'
